<mat-card>
  <mat-card-header>
    <mat-card-title>Level: {{level.label}}</mat-card-title>
    <mat-card-subtitle>Created at: {{level.createdAt|date}} </mat-card-subtitle>
  </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content><br>
      <p style="padding: 10px; color: #333; background: #f5f6fa;">
        {{level.description}}
      </p>
    </mat-card-content>
    <mat-card-actions><br>
      <button mat-stroked-button color="accent" (click)="deleteLevel(level.id)" >Delete level</button>
      <button mat-stroked-button color="primary" (click)="updateLevel(level.id)">Update level</button>
      <button mat-stroked-button color="primary" [routerLink]="['/find-school/' + idSchool + '/add-course/', level.id]">Add course</button>
    </mat-card-actions>
</mat-card>
