<div style="margin: auto; width: 100%; border: 3px solid #73AD21;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add a new note</mat-card-title>
    </mat-card-header>
    <mat-card-content><br>
      <mat-progress-bar mode="buffer" *ngIf="progressBar"></mat-progress-bar>
      <form>
        <mat-form-field style="width: 100%;">
          <mat-label>Score</mat-label>
          <input type="number" matInput placeholder="score" name="score"
                 [(ngModel)]="note.score" #score="ngModel" required>
        </mat-form-field> <br>

        <mat-form-field style="width: 100%;">
          <mat-label>Enter description</mat-label>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="note.description"
            #description="ngModel"></textarea>
        </mat-form-field><br>

        <button mat-raised-button color="primary"
          [disabled]="score.invalid || description.invalid"
          (click)="addNote()" style="width: 10em !important">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
