<div style="margin: auto; width: 100%; border: 3px solid #73AD21;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add a new school</mat-card-title>
    </mat-card-header>
    <mat-card-content><br>
      <mat-progress-bar mode="buffer" *ngIf="progressBar"></mat-progress-bar>
      <form>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Enter name</mat-label>
          <input matInput type="text" placeholder="name" name="name" [(ngModel)]="school.name" #name="ngModel" required>
        </mat-form-field><br>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Enter city</mat-label>
          <input matInput type="text" placeholder="city" name="city" [(ngModel)]="school.city" #city="ngModel" required>
        </mat-form-field><br>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Enter department</mat-label>
          <input matInput type="text" placeholder="department" name="department" [(ngModel)]="school.department"
            #department="ngModel" required>
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Enter open</mat-label>
          <input type="time" matInput placeholder="open" name="open" [(ngModel)]="school.open" #open="ngModel" required>
        </mat-form-field> <br>

        <mat-form-field>
          <mat-label>Enter close</mat-label>
          <input type="time" matInput placeholder="close" name="close" [(ngModel)]="school.close" #close="ngModel"
            required>
        </mat-form-field> <br>

        <mat-form-field style="width: 100%;">
          <mat-label>Enter description</mat-label>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="school.description"
            #description="ngModel"></textarea>
        </mat-form-field><br>

        <button mat-raised-button color="primary"
          [disabled]="name.invalid || city.invalid || description.invalid || department.invalid || open.invalid || close.invalid"
          (click)="addSchool()" style="width: 10em !important">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
